@import '../javascripts/components/quadrants/eat/eat';
@import '../javascripts/components/quadrants/fight/fight'; 
@import '../javascripts/components/quadrants/sleep/sleep';
@import '../javascripts/components/quadrants/play/play'; 
@import '../javascripts/components/petPicture/petPicture';
html, body { height: 100%; padding: 0; margin: 0; }
div { position: fixed; width: 50%; height: 50%; float: unset; }



